body {
    background-color: #1A2739;
}
/*************header section start***************/

header {
    color: white;
    margin: 50px 0;
    width: 100%;
    align-items: center;
} 

header .row {
    width: 70%;
    height: 40vh;
}
h2,h4,h6,header .row {
    margin-left: 100px;
    
}
h6 {
    margin-top: 20px;
}

svg{
    width:80% ;
    height: 40vh;
}
.header-text {
font-size: 10px;
letter-spacing: 1px;
}
.header-number {
font-size: 30px;
font-weight: 300;
letter-spacing: 0;
}
#blue {
color: #70c3ff;
}
#green {
    color: #82ff01;
}
 .row .col  {
margin-top: 6%;
margin-left: -15%;
}

/***header section end*/
/***main section start**/
main {
    width: 100%;
    height: 130vh;
    color: white;
    align-items: center;
margin-left: calc(10%);
    align-items: center;
}
.main-sec{
    width: 70%;
height: 40vh;
display: flex;
flex-direction: column-reverse;
}
.img-div {
    width: 40%;
}
.main-div{
    width: 20%;
    font-size: larger;
   
}
.img-div img {
    width: 100%;
}
.margin {
    margin-left: 18%;
}
.blue-link {
    color: #70c3ff;
}

/***main section end ***/
@media only screen and (max-width: 480px) {
 

 /**media for header*/
    a,h1,h2,h4,h6,p {
    margin-left: 0;
    font-size: calc(100%/2);
    }
    svg {
        height: 100%;
        width: 100%;
        margin-left: -15%;
    }
    header .row {
        width: 100%;
    }
    .header-number,.header-text {
        font-size: 10px;
         }
    .col .col {
        display: flex;
    flex-direction: row-reverse;
        justify-content: center;

    }
    header .row {
        display: flex;
        flex-direction: column-reverse;
    }
    svg{
        width:80% ;
        position: absolute;
        top:0px;
    }
    h6 {
        margin-top: 0px;
    }
 
    .main-div{
        width: 100%;
        
    }
    .img-div {
        width: 90%;
        margin-top: -40px;
        margin-left: auto;
    }
    .main-sec{
    display: flex;
        flex-direction: column;
    }
    .margin{
        margin-left: 0;
    }
    main {
        height: auto;
        margin-top: -150px;
    }
    .margin-bottom {
        margin-bottom: -70px;
    }
    .margin-media{
margin-left: -12%;   
 }

}